<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />
        <meta name="description" content="" />
        <meta name="author" content="" />
        <title>My Meal Prep</title>
        <!-- Favicon-->
        <link rel="icon" type="image/x-icon" href="assets/favicon.ico" />
        <!-- Core theme CSS (includes Bootstrap)-->
        <link href="css/styles.css" rel="stylesheet" />
    </head>
    <body>
        <!-- Responsive navbar-->
        <nav class="navbar navbar-dark bg-dark">
            <!-- Wrap navbar in a container -->
            <div class="container">
                <!-- Nav Title/Logo -->
                <div class="nav-header">
                    <a class="navbar-brand" href="#">DWymer</a>
                </div>
                <!-- Main Nav links -->
                <div class="nav-links navbar-expand-lg">
                    <ul class="navbar-nav">
                        <li class="nav-item"><a class="nav-link active" aria-current="page" href="/">Home</a></li>
                        <li class="nav-item"><a class="nav-link" href="/ingredients">Ingredients</a></li>
                        <li class="nav-item"><a class="nav-link" href="/recipes">Recipes</a></li>
                    </ul>
                </div>
                <!-- User specific nav links -->
                <div class="nav-user navbar-expand-lg">
                    <ul class="navbar-nav">
                        <li class="nav-item"><a class="nav-link" href="/profile">Profile</a></li>
                        <li class="nav-item"><a class="nav-link" href="/login">Login</a></li>
                        <li class="nav-item"><a class="nav-link" href="/register">Register</a></li>
                    </ul>
                </div>
            </div>
        </nav>
        <!-- Page content-->
        <div class="container">
            <!--Login-->
            <div class="newFoodItem text-center mt-5 ">
                <h1>New Food Item</h1>
                <!-- on submit(pressing createIngredient), load /createIngredient and post the ingredient data -->
                <form action="/createFoodItem" method="post">
                    <!-- div to combine all Ingredint Name data -->
                    <div class="foodName">
                        <label for="foodName">Food Name:</label>
                        <!--Create a New Line-->
                        <br>
                        <input type="text" name="foodName" placeholder="Food Name" required>
                    </div>
                    <!-- div to combine all shop data -->
                    <div class="shop">
                        <label for="shop">Shop Name:</label>
                        <!--Create a New Line-->
                        <br>
                        <input type="text" name="shop" placeholder="Shop" required>
                    </div>
                    <div class="amount">
                        <label for="amount">Amount:</label>
                        <!--Create a New Line-->
                        <br>
                        <input type="text" name="amount" placeholder="100" required>
                    </div>
                    <div class="measurement">
                        <label for="measurement">Measurement:</label>
                        <!--Create a New Line-->
                        <br>
                        <input type="text" name="measurement" placeholder="Grams" required>
                    </div>
                    <div class="calories">
                        <label for="calories">Calories:</label>
                        <!--Create a New Line-->
                        <br>
                        <input type="text" name="calories" placeholder="0" required>
                    </div>
                    <div class="carbohydrates">
                        <label for="carbohydrates">Carbohydrates:</label>
                        <!--Create a New Line-->
                        <br>
                        <input type="text" name="carbohydrates" placeholder="0g" required>
                    </div>
                    <div class="fat">
                        <label for="fat">Fat:</label>
                        <!--Create a New Line-->
                        <br>
                        <input type="text" name="fat" placeholder="0g" required>
                    </div>
                    <div class="protein">
                        <label for="protein">protein:</label>
                        <!--Create a New Line-->
                        <br>
                        <input type="text" name="protein" placeholder="0g" required>
                    </div>
                    <div class="saturates">
                        <label for="saturates">saturates:</label>
                        <!--Create a New Line-->
                        <br>
                        <input type="text" name="saturates" placeholder="0g" required>
                    </div>
                    <div class="sugars">
                        <label for="sugars">sugars:</label>
                        <!--Create a New Line-->
                        <br>
                        <input type="text" name="sugars" placeholder="0g" required>
                    </div>
                    <div class="salt">
                        <label for="salt">salt:</label>
                        <!--Create a New Line-->
                        <br>
                        <input type="salt" name="salt" placeholder="0g" required>
                    </div>
                    <div class="fiber">
                        <label for="fiber">fiber:</label>
                        <!--Create a New Line-->
                        <br>
                        <input type="text" name="fiber" placeholder="0g" required>
                    </div>
                    <div class="isPrivate">
                        <label for="isPrivate">isPrivate:</label>
                        <!--Create a New Line-->
                        <br>
                        <input type="checkbox" name="isPrivate">
                    </div>


                




                    <!--Submit Button for logging in-->
                    <input type="submit" value="Create Food Item">
                </form>
            </div> 
        </div>
        <!-- Bootstrap core JS-->
        <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.bundle.min.js"></script>
        <!-- Core theme JS-->
        <script src="js/scripts.js"></script>
    </body>
</html>
